# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencias
node_modules/

# Build de Astro
dist/
.astro/

# Sistema
.DS_Store
Thumbs.db

# Entorno
.env
.env.production

# Editores
.vscode/
.idea/
*.swp
